<div class="background-image">
 +	<img src="images/checkout.jpg">
 +</div>
 +
 +<form><div class="image">
 +  First name:<br>
 +  <input type="text" name="firstname">
 +  <br>
 +  Last name:<br>
 +  <input type="text" name="lastname">
 +  <br>
 +  Address:<br>
 +  <input type="text" name="address">
 +  <br>
 +  City<br>
 +  <input type="text" name="city">
 +  <br>
 +  State <br>
 +  <input type="text" name="state">
 +  <br>
 +  Zip Code<br>
 +  <input type="text" name="Zip">
 +  <br>
 +</form></div>
 +
 +
 +
 +</form>