	<div id="header">

		<h1>Welcome To Lightsabers R Us!</h1>
		<h2>Are you shopping for the <em>Light</em> or <em>Dark</em> side today?</h2>​
	</div>

	<img class ="banner_image"src="images/crossedsabers.jpeg">
	<img id ="yoda" src="images/yodahomepage.jpeg">
	<img id="vader" src="images/vaderheadshot.jpeg"
