	

		<h1>Welcome To Lightsabers R Us!</h1>


		<h2 id="light">Are you shopping for
		</h2>
			the <em>Light Side</em>?
		</h2>

		<h2 id="dark">Or the <em>Dark side?</em> 
		</h2>​

	<div id="header">
		<img class ="banner_image"src="images/crossedsabers.jpeg">
		<img id ="yoda" src="images/yodahomepage.jpeg">
		<img id="vader" src="images/vaderheadshot.jpeg">
	</div>