	
<audio controls autoplay>
  <source src="swt.mp3" type="audio/mpeg">

</audio>
	<h1>Welcome To Lightsabers R Us!</h1>


	<h2>Are you shopping for
	</h2>
	<h3 id="light">
		<a class="yodalink"href="light_side">The <em>Light Side</em>?</a>
	</h3>

	<h3 id="mid">Or</h3>

	<h3 id="dark"><a class="vaderLink"href="dark_side">The <em>Dark side?</em> 
	</a></h3>​

	<div id="header">
		<img class ="banner_image"src="images/crossedsabers.jpeg">
		<img id ="yoda" src="images/yodahomepage.jpeg">
		<img id="vader" src="images/vaderheadshot.jpeg">
	</div>
