<!DOCTYPE html>
<html>
​
<head>
	<title>
​	Lightsabers 'R Us
	</title>
</head>
<body>
​
	<h1>Welcome To Lightsabers 'R Us!</h1>
	<h2>No matter who your opponent, we have sabers for all foes! Are you shopping for the Light or Dark side today?</h2>​

	
​
​
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"> </script>
<script src="js.js"></script>
​
</body>
</html>