	

	<h1>Welcome To Lightsabers R Us!</h1>


	<h2 class="shopping">Are you shopping for
	</h2>
	

	
	<div id="homewrap">
	
		<div id="header">
			<div class="yodalink">
				<h3 id="light">
					<a href="light_side">
						The 
						<em>
							Light Side
						</em>
						?
					</a>
				</h3>

				<img id ="yoda" src="images/yodahomepage.jpeg">
			</div>

			<div class ="banner_image">
				<img src="images/crossedsabers.jpeg">
			</div>
			

			<div class="vaderLink">
				<h3 id="dark">
					<a href="dark_side"> 
						Or the 
						<em>
							Dark side?
						</em> 
					</a>
				</h3>​

				<img id="vader" src="images/vaderheadshot.jpeg">
			</div>
		</div>
	</div>




