	

	<h1>Welcome To Lightsabers R Us!</h1>


	<h2>Are you shopping for
	</h2>
	<h3 id="light">
		The <em>Light Side</em>?
	</h3>

	<h3 id="mid">Or</h3>

	<h3 id="dark">The <em>Dark side?</em> 
	</h3>​

	<div id="header">
		<img class ="banner_image"src="images/crossedsabers.jpeg">
		<img id ="yoda" src="images/yodahomepage.jpeg">
		<img id="vader" src="images/vaderheadshot.jpeg">
	</div>