<!DOCTYPE html>
<html>
​
<head>
	<title>
​	Lightsabers 'R Us
	</title>
</head>
<body>
	
​<%= yield %>

	
​
​
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"> </script>
<script src="js.js"></script>
​
</body>
</html>