body{
	background-color:slategray;
}
h1{
	text-align: center;
	color:white;
}
h2{
	text-align: center;
	color:white;
	display:none;
}
audio {
	display: none;
}
.yodalink{
	text-decoration: none;
	color:inherit;
}
#light{
    float: left;
    display: none;
    color: #00ff00;
    margin-top: 64px;
    font-size: 30px;
}
.vaderLink{
	text-decoration: none;
	color:inherit;
}
#dark{
	float:right;
	display: none;
	color:red;
	font-size: 30px;
}
#mid{
	text-align: center;
	display:block;
	margin-right: 190px;
	color:white;
	font-size: 25px;
}
#header{
	display: none;
}
.banner_image{
	height:500px;
	width:500px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -30%);
}
#yoda{
     width: 265px;
    /* transform: translate(0%, 30%); */
    margin-left: -13px;
    padding-top: 9px;
    /* position: fixed; */
    float: left;
    clear: left;
}

#vader{
	height: 256px;
    width: 263px;
    clear: right;
    float: right;
/*    transform: translate(0%, 50%);*/
/*    margin-right: -13px;*/
}