body{
	background-color:slategray;
}
h1{
	text-align: center;
	color:white;
}
h2{
	text-align: center;
	color:white;
	display:none;
}
#homewrap{
	width:1200px;
	margin:0 auto;
}
.yodalink{
	display: inline-block;
}

.yodalink a {
	text-decoration: none;
	color:inherit;
}

.yodalink img {
	vertical-align: middle;
}
#yoda{
    width: 265px;
    padding-top: 9px;
}
.lightheader{
	margin-top: 3px;
	text-shadow: 2px 2px #66ff00;
}
#light{
    color: #00ff00;
    margin-top: 90px;
    font-size: 30px;
    text-align: center;
}

.vaderLink {
	display: inline-block;
}

.vaderLink img {
	vertical-align: middle;
	margin-bottom: 80px;
	padding-top: 9px;
	height: 256px;
    width: 263px;
}
.vaderLink a { 
	text-decoration: none;
	color:inherit;
}
#dark{
	color:red;
	font-size: 30px;
	text-align: center;
}
#header{
	display: none;
}
.banner_image {
	display: inline-block;
}

.banner_image img {
	height:500px;
	width:500px;
	vertical-align: middle;
}


/*Lightside styling begins here*/
.light_image_wrap{
	margin-left: 25px;
	margin-right: 25px;
	width:1040px;
	margin:0 auto;
}
form{
	text-align: center;
	width:150px;
	margin: 0 auto;
}
label.name{
	display:block;
}
label.message{
	display:block;
}
.leftSaber img{
	height:300px;
	width:300px;
	vertical-align: middle;
}
.leftSaber{
	float:left;
	width:300px;
	display:block;s
}
.middleSaber img{
	height: 300px;
	width:300px;
	vertical-align: middle;
	margin-left: 80px;
}
.middleSaber{
	float:left;
	width:300px;
	display:block;
	margin-left:65px;
}
.rightSaber img{
	height:300px;
	width:300px;
	vertical-align: middle;
}
.rightSaber{
	float:right;
	width:300px;
	display:block;
}
.change{
	clear:both;
	margin-top: 25px;
	text-align: center;
}
